<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome my site </title>
</head>
<body>
    <form method="">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="number" name="age" placeholder="Enter your age">
        <input type="text" name="nationality" placeholder="Enter your   nationality">
        <button type="submit">Submit</button>

    </form>
</body>
</html>